<nav class=" navbar-expand-lg navbar navbar-light bg-light">
  <div class="container container-fluid">
    <a class="navbar-brand" routerLink="inicio">Administrar Bancos</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active hoveradd" aria-current="page" href="#">Agregar Banco</a>
        </li>
      </ul>
    </div>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="card m-10" style="width: 15rem; margin: 20px;">
    <img src="https://image.freepik.com/vector-gratis/icono-edificio-banco-aislado-blanco_68708-406.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">este es el banco de davivienda</p>
      <div>
        <a href="#" class="btn btn-danger me-3">Eliminar</a>
        <a href="#" class="btn btn-warning">Modificar</a>
      </div>
    </div>
  </div>
</div>

