<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<nav class=" navbar-expand-lg navbar navbar-light bg-light">
  <div class="container container-fluid">
    <a class="navbar-brand" routerLink="inicio">Administrar Empelados</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active hoveradd" aria-current="page" >Agregar Empelado</a>
        </li>
      </ul>
    </div>
    <form class="d-flex">
      <input type="search"
             name="key" id="searchBanco" class="form-control mr-sm-2" placeholder="buscar empleado..." required>
    </form>
  </div>
</nav>
<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h2">Nuestro equipo de baneados</h5>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" >
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="https://mir-s3-cdn-cf.behance.net/projects/404/a0eb34102440025.Y3JvcCwxMjA5LDk0NSwxNjE5LDEx.png" alt="card image"></p>
                  <h4 class="card-title">Nombre</h4>
                  <p class="card-text">Siempre hay que ser huminde y tener gran empatia con mis compaeritos.</p>
                  <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Nombre</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->


    </div>
  </div>
</section>
<!-- Team -->
