<app-navegacion class="m-10"></app-navegacion>
<div>
  <router-outlet></router-outlet>
</div>
<footer style="background-color: #212529; color: whitesmoke">
  <div class=" container d-flex justify-content-between align-items-center">
    <div class=" d-flex bd-highlight">
      <div class="p-2 bd-highlight">Jeisson Cortes</div>
      <div class="p-2 bd-highlight">Jhon Bravo</div>
      <div class="p-2 bd-highlight">Laura Paramo</div>
    </div>
    <div class=" d-flex bd-highlight">
      <div class="p-2 bd-highlight">< L</div>
      <div class="p-2 bd-highlight">Y</div>
      <div class="p-2 bd-highlight">J ></div>
    </div>
  </div>
</footer>
